
<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>
<section style="background-color: brown;">
<div class="container-fluid">
  <h1 class="d-flex justify-content-center text-light">Alumni</h1>
</div>
</section>



<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-item">
      <section class="d-flex flex-row"  style=" width: 1200px;">
        
      
          <a routerLink="login" class="nav-link alert-warning" routerLinkActive="active">
            Login
          </a>

      </section>
     
    </ul>
  </div>
</nav>



<div class="container">
      <router-outlet></router-outlet>
</div>



